
#arquivos para serem ignorados da api de urls
hltv-urls-api/node_modules/
hltv-urls-api/.vscode/

#arquivos para serem ignorados do web scrapping
hltv-web-scraping/.vscode/
hltv-web-scraping/debug.log
hltv-web-scraping/__pycache__/
.vscode/